<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="spruce-hybridbridge"
        version="0.1.0">

  <name>HybridBridge</name>
  <description>Cordova Bridge Implementation</description>
  <author>Carlos Alba</author>
  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/HybridBridge.js" name="HybridBridge">
    <clobbers target="spruce.hybridbridge" />
  </js-module>
  <js-module src="www/NativeEventsListener.js" name="NativeEventsListener">
      <clobbers target="spruce.hybridbridge" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="HybridBridge">
        <param name="ios-package" value="HybridBridge" />
      </feature>
    </config-file>
    <header-file src="src/ios/HybridBridge.swift" target-dir="HybridBridgePlugin"/>
  </platform>

</plugin>
